<div class="topnav " id="myTopnav">
 <a href="/" class="active">Home</a>
 <a href="#" class="nondropdown">Search</a>
 <div onclick="showButton('visitors')" class="dropdown">
   <button class="dropbtn">For Visitors &#9660;</button>
   <div id="visitors" class="dropdown-content">
        <a href="/camping/camping/">Camping</a>
        <a href="#">Picnics</a>
        <a href="#">Tracks</a>
        <a href="#">Maps</a>
        <a href="#">Info Centre</a>
   </div>
 </div>
 <div onclick="showButton('nature')" class="dropdown">
   <button class="dropbtn">Nature &#9660;</button>
   <div id="nature" class="dropdown-content">
        <a href="#">Geology</a>
        <a href="#">Plants</a>
        <a href="#">Animals</a>
        <a href="#">Fungi</a>
   </div>
 </div>
 <div onclick="showButton('history')" class="dropdown">
   <button class="dropbtn">History &#9660;</button>
   <div id="history" class="dropdown-content">
        <a href="#">A Glimpse of Girraween</a>
        <a href="#">Memories of Girraween</a>
   </div>
 </div>
 <div onclick="showButton('artsci')" class="dropdown">
   <button class="dropbtn">Art & Science &#9660;</button>
   <div id="artsci" class="dropdown-content">
        <a href="/allsorts/asteroid/">Asteroid</a>
        <a href="/gallery/gallery/">Gallery</a>
        <a href="/allsorts/song/">Song</a>
        <a href="/stamps/stamps/">Stamps</a>
   </div>
 </div>
 <div onclick="showButton('resources')" class="dropdown">
   <button class="dropbtn">Resources &#9660;</button>
   <div id="resources" class="dropdown-content">
        <a href="/allsorts/about/">About Us</a>
        <a href="/allsorts/downloads/">Downloads</a>
        <a href="/allsorts/references/">References</a>
        <a href="/allsorts/thanks/">Thanks To...</a>
        <a href="/allsorts/new_2018/">What's New...</a>
   </div>
 </div>
 <a href="/allsorts/contact/" class="nondropdown">Contact Us</a>
 <a href="https://parks.des.qld.gov.au/parks/girraween/index.html" target="_blank" class="nondropdown qldgov ">Qld Gov website &#9658;</a>
 </div>
